body
{
background-color:#d0e4fe;
}

h1
{
color:#2020B0;
text-align:center;
background-color:#A0C0E0;
padding:20px;
border-width:10px;
border-style:outset;
}

h2
{
color:#2020B0;
padding-left:10px;
background-color:#A0C0E0;
}

label
{
display:block; width:110px; float:left;
}

img
{
border:none;
} 

#content
{
margin-left:80px;
margin-right:80px;
}

span.newsId
{
font-size:0.5em;
padding-right:0.5em;
padding-left:0.5em;
margin-right:2em;
background-color:#E0D0Fe;
}

div.news
{
//border-style:solid;
//border-width:1px;
//padding-left:10px;
background-color:#B0D0Fe;
}